@charset "UTF-8";
/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
body {
  font-family: 'Kameron', 'Noto Sans JP', sans-serif;
}

.font-sm, .sub-title {
  font-size: 14px;
}

.font-md, .header__ul, .footer__ul, .footer__copyright {
  font-size: 17px;
}

.font-lr, .houses__title {
  font-size: 17px;
}

.font-lg, .main-title {
  font-size: 25px;
}

.mb-sm, .houses__title {
  margin-bottom: 16px !important;
}

.mb-lg {
  margin-bottom: 80px !important;
}

.pb-sm {
  padding-bottom: 16px !important;
}

.pb-lg {
  padding-bottom: 80px !important;
}

.purple {
  color: #904669;
}

.content-width, .header__inner, .footer {
  width: 90%;
  margin: 0 auto;
  max-width: 1070px;
}

.side {
  display: none;
  position: fixed;
  top: 70%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.side.inview {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
}

.header.triggered {
  background-color: rgba(255, 255, 255, 0.8);
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  display: none;
}

.header__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.header__li {
  margin-right: 30px;
}

.header__li > a {
  color: black;
  text-decoration: none !important;
  text-transform: uppercase;
}

#content {
  padding: 100px;
  overflow: hidden;
}

.travel__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
  background-color: #DDDDDD;
  position: relative;
  z-index: 0;
}

.travel__img {
  height: 300px;
  -webkit-transition: -webkit-box-shadow 1ms linear 0.8s;
  transition: -webkit-box-shadow 1ms linear 0.8s;
  transition: box-shadow 1ms linear 0.8s;
  transition: box-shadow 1ms linear 0.8s, -webkit-box-shadow 1ms linear 0.8s;
}

.travel__img > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: -1;
}

.travel__img.inview {
  -webkit-box-shadow: inset 0 0 30px black;
          box-shadow: inset 0 0 30px black;
}

.travel__btn {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
}

.travel__title {
  position: relative;
}

.travel__title::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 2px;
  top: 50%;
  left: -120px;
  background-color: black;
  -webkit-transform: translateY(-50%) scaleX(0);
          transform: translateY(-50%) scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 1.4s;
  transition: -webkit-transform 1.4s;
  transition: transform 1.4s;
  transition: transform 1.4s, -webkit-transform 1.4s;
}

.travel__title.inview::before {
  -webkit-transform: translateY(-50%) scaleX(1);
          transform: translateY(-50%) scaleX(1);
}

.main-title {
  font-weight: 600;
  margin-bottom: 0;
}

.sub-title {
  color: #535353;
}

.houses__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popular__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popular__img {
  height: 150px;
  overflow: hidden;
  margin-bottom: 5px;
}

.popular__img > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.logo {
  font-size: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo__img {
  width: 0.7em;
}

.logo__world {
  color: #904669;
}

.footer {
  padding: 60px 0;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer__li {
  padding: 0;
  margin: 10px;
}

.footer__li > a {
  color: gray;
}

.swiper-container {
  width: 100%;
  height: 500px;
}

.hero__title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, calc(-50% + 20px));
          transform: translate(-50%, calc(-50% + 20px));
  opacity: 0;
  color: white;
  font-size: 25px;
  -webkit-transition: opacity 0.3s ease 1s, -webkit-transform 0.3 ease 1s;
  transition: opacity 0.3s ease 1s, -webkit-transform 0.3 ease 1s;
  transition: opacity 0.3s ease 1s, transform 0.3 ease 1s;
  transition: opacity 0.3s ease 1s, transform 0.3 ease 1s, -webkit-transform 0.3 ease 1s;
}

.hero__footer {
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: 20px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.hero__downarrow {
  position: absolute;
  left: 5px;
  bottom: 0;
  width: 6px;
  -webkit-animation: kf-arrow-anime 2s infinite;
          animation: kf-arrow-anime 2s infinite;
}

.hero__scrolltext {
  position: absolute;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  bottom: 20px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.2em;
}

.swiper-slide {
  height: 500px;
  overflow: hidden;
}

.swiper-slide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 61, 125, 0.1);
}

.swiper-slide > img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: -webkit-transform 1.9s ease;
  transition: -webkit-transform 1.9s ease;
  transition: transform 1.9s ease;
  transition: transform 1.9s ease, -webkit-transform 1.9s ease;
}

.swiper-slide-active > img {
  -webkit-transform: none;
          transform: none;
}

.swiper-slide-active .hero__title {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@-webkit-keyframes kf-arrow-anime {
  0%,
  50%,
  100% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  30% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes kf-arrow-anime {
  0%,
  50%,
  100% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  30% {
    -webkit-transform: none;
            transform: none;
  }
}

.animate-title {
  font-weight: 800;
  opacity: 0;
}

.animate-title.inview {
  opacity: 1;
}

.animate-title.inview .char {
  display: inline-block;
  -webkit-animation: sk-fadein 0.8s;
          animation: sk-fadein 0.8s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.animate-title.inview .char:nth-child(1) {
  -webkit-animation-delay: 0.08s;
          animation-delay: 0.08s;
}

.animate-title.inview .char:nth-child(2) {
  -webkit-animation-delay: 0.16s;
          animation-delay: 0.16s;
}

.animate-title.inview .char:nth-child(3) {
  -webkit-animation-delay: 0.24s;
          animation-delay: 0.24s;
}

.animate-title.inview .char:nth-child(4) {
  -webkit-animation-delay: 0.32s;
          animation-delay: 0.32s;
}

.animate-title.inview .char:nth-child(5) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.animate-title.inview .char:nth-child(6) {
  -webkit-animation-delay: 0.48s;
          animation-delay: 0.48s;
}

.animate-title.inview .char:nth-child(7) {
  -webkit-animation-delay: 0.56s;
          animation-delay: 0.56s;
}

.animate-title.inview .char:nth-child(8) {
  -webkit-animation-delay: 0.64s;
          animation-delay: 0.64s;
}

.animate-title.inview .char:nth-child(9) {
  -webkit-animation-delay: 0.72s;
          animation-delay: 0.72s;
}

.animate-title.inview .char:nth-child(10) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.animate-title.inview .char:nth-child(11) {
  -webkit-animation-delay: 0.88s;
          animation-delay: 0.88s;
}

.animate-title.inview .char:nth-child(12) {
  -webkit-animation-delay: 0.96s;
          animation-delay: 0.96s;
}

.animate-title.inview .char:nth-child(13) {
  -webkit-animation-delay: 1.04s;
          animation-delay: 1.04s;
}

.animate-title.inview .char:nth-child(14) {
  -webkit-animation-delay: 1.12s;
          animation-delay: 1.12s;
}

.animate-title.inview .char:nth-child(15) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.animate-title.inview .char:nth-child(16) {
  -webkit-animation-delay: 1.28s;
          animation-delay: 1.28s;
}

.animate-title.inview .char:nth-child(17) {
  -webkit-animation-delay: 1.36s;
          animation-delay: 1.36s;
}

.animate-title.inview .char:nth-child(18) {
  -webkit-animation-delay: 1.44s;
          animation-delay: 1.44s;
}

.animate-title.inview .char:nth-child(19) {
  -webkit-animation-delay: 1.52s;
          animation-delay: 1.52s;
}

.animate-title.inview .char:nth-child(20) {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

.animate-title.inview .char:nth-child(21) {
  -webkit-animation-delay: 1.68s;
          animation-delay: 1.68s;
}

.animate-title.inview .char:nth-child(22) {
  -webkit-animation-delay: 1.76s;
          animation-delay: 1.76s;
}

.animate-title.inview .char:nth-child(23) {
  -webkit-animation-delay: 1.84s;
          animation-delay: 1.84s;
}

.animate-title.inview .char:nth-child(24) {
  -webkit-animation-delay: 1.92s;
          animation-delay: 1.92s;
}

.animate-title.inview .char:nth-child(25) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.animate-title.inview .char:nth-child(26) {
  -webkit-animation-delay: 2.08s;
          animation-delay: 2.08s;
}

.animate-title.inview .char:nth-child(27) {
  -webkit-animation-delay: 2.16s;
          animation-delay: 2.16s;
}

.animate-title.inview .char:nth-child(28) {
  -webkit-animation-delay: 2.24s;
          animation-delay: 2.24s;
}

.animate-title.inview .char:nth-child(29) {
  -webkit-animation-delay: 2.32s;
          animation-delay: 2.32s;
}

.animate-title.inview .char:nth-child(30) {
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}

@-webkit-keyframes sk-fadein {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-60%);
            transform: translateY(-60%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes sk-fadein {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-60%);
            transform: translateY(-60%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

img {
  width: 100%;
  vertical-align: bottom;
}

.container {
  margin-bottom: 500px;
}

.cover-slide {
  position: relative;
  overflow: hidden;
}

.cover-slide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #DDDDDD;
}

.cover-slide .img-zoom {
  opacity: 0;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.cover-slide .img-zoom:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.cover-slide.inview::after {
  -webkit-animation: sk-coverslide 1.4s;
          animation: sk-coverslide 1.4s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.cover-slide.inview .img-zoom {
  -webkit-animation: sk-showimg 1.4s;
          animation: sk-showimg 1.4s;
  opacity: 1;
}

.hover-darken::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  pointer-events: none;
}

.hover-darken:hover::before {
  background-color: rgba(0, 0, 0, 0.4);
}

@-webkit-keyframes sk-showimg {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.1% {
    opacity: 1;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-showimg {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.1% {
    opacity: 1;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes sk-coverslide {
  0% {
    right: 100%;
    left: 0;
  }
  50% {
    right: 0;
    left: 0;
  }
  100% {
    right: 0;
    left: 100%;
  }
}

@keyframes sk-coverslide {
  0% {
    right: 100%;
    left: 0;
  }
  50% {
    right: 0;
    left: 0;
  }
  100% {
    right: 0;
    left: 100%;
  }
}

.btn {
  width: 150px;
  border: 1px solid black;
  text-align: center;
  padding: 15px;
  font-size: 12px;
  font-weight: bold;
  margin: 0px auto;
  cursor: pointer;
  margin-bottom: 5px;
}

.btn.slide-bg {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn.slide-bg::before {
  content: "";
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: absolute;
  background-color: #222222;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  z-index: -1;
}

.btn.slide-bg:hover {
  color: white;
}

.btn.slide-bg:hover::before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  z-index: 200;
}

#container {
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.mobile-menu {
  position: fixed;
  top: 60px;
  right: 0;
}

.mobile-menu__main {
  padding: 0;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.mobile-menu__item {
  list-style: none;
  display: block;
  -webkit-transform: translate3d(0, 0, -1000px);
          transform: translate3d(0, 0, -1000px);
  padding: 0 40px;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.3s;
  transition: opacity 0.2s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s, -webkit-transform 0.3s;
  opacity: 0;
}

.mobile-menu__link {
  display: block;
  margin-top: 30px;
  text-decoration: none;
  color: black;
}

.mobile-menu__btn {
  background-color: transparent;
  border: none;
  outline: none !important;
  cursor: pointer;
}

.mobile-menu__btn span {
  width: 40px;
  height: 2px;
  background-color: black;
  display: block;
  margin-bottom: 9px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.mobile-menu__btn span:last-child {
  margin-bottom: 0;
}

.menu-open #container .cover {
  visibility: visible;
  opacity: 1;
}

.menu-open #container {
  -webkit-transform: translate(-350px, 60px);
          transform: translate(-350px, 60px);
  -webkit-box-shadow: 4px 5px 18px 0px black;
          box-shadow: 4px 5px 18px 0px black;
}

.menu-open .mobile-menu__item {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

.menu-open .mobile-menu__item:nth-child(1) {
  -webkit-transition-delay: 0.07s;
          transition-delay: 0.07s;
}

.menu-open .mobile-menu__item:nth-child(2) {
  -webkit-transition-delay: 0.14s;
          transition-delay: 0.14s;
}

.menu-open .mobile-menu__item:nth-child(3) {
  -webkit-transition-delay: 0.21s;
          transition-delay: 0.21s;
}

.menu-open .mobile-menu__item:nth-child(4) {
  -webkit-transition-delay: 0.28s;
          transition-delay: 0.28s;
}

.menu-open .mobile-menu__item:nth-child(5) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.menu-open .mobile-menu__btn > span:nth-child(1) {
  -webkit-transform: translateY(11px) rotate(135deg);
          transform: translateY(11px) rotate(135deg);
}

.menu-open .mobile-menu__btn > span:nth-child(3) {
  -webkit-transform: translateY(-11px) rotate(-135deg);
          transform: translateY(-11px) rotate(-135deg);
}

.menu-open .mobile-menu__btn > span:nth-child(2) {
  -webkit-transform: translateX(-22px) scale(0);
          transform: translateX(-22px) scale(0);
}

@media screen and (min-width: 480px) {
  /******************************************************************

Stylesheet: 480px以上(スマホの横向き)のモニタで適用

******************************************************************/
}

@media screen and (min-width: 600px) {
  /******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
  .travel__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 50px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .travel__texts, .travel__img {
    -ms-flex-preferred-size: 47%;
        flex-basis: 47%;
  }
  .houses__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .houses__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-bottom: 60px;
  }
  .popular__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .popular__item {
    -ms-flex-preferred-size: 47%;
        flex-basis: 47%;
  }
  .footer__ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 960px) {
  /******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/
  .menu-open #container .cover {
    visibility: visible;
    opacity: 0;
  }
  .menu-open #container {
    -webkit-transform: none;
            transform: none;
  }
  .menu-open .mobile-menu {
    opacity: 0;
  }
  .font-sm, .sub-title {
    font-size: 16px;
  }
  .font-md, .header__ul, .footer__ul, .footer__copyright {
    font-size: 19px;
  }
  .font-lr, .houses__title {
    font-size: 23px;
  }
  .font-lg, .main-title {
    font-size: 36px;
  }
  .mb-lg {
    margin-bottom: 150px !important;
  }
  .pb-lg {
    padding-bottom: 150px !important;
  }
  .header__nav {
    display: block;
  }
  .header .mobile-menu__btn {
    display: none;
  }
  .travel__inner {
    padding-left: 150px;
    padding-right: 150px;
  }
  .travel__img {
    height: 400px;
  }
  .travel__description {
    margin-bottom: 100px;
  }
  .popular__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .popular__item {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .popular__img {
    height: 300px;
  }
}

@media screen and (min-width: 1280px) {
  /******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
  .side {
    display: block;
    position: fixed;
    top: 70%;
    color: black;
  }
  .side img {
    width: 20px;
    margin-right: 10px;
  }
  .side a {
    color: black;
    margin-right: 20px;
  }
  .side a span {
    margin-right: 5px;
  }
  .side.left {
    left: 50px;
  }
  .side.left .side__inner {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transform-origin: top left;
            transform-origin: top left;
  }
  .side.rigth {
    right: 50px;
  }
  .side.rigth .side__inner {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transform-origin: top right;
            transform-origin: top right;
  }
}
/*# sourceMappingURL=style.css.map */